
  <h2> Please edit here!</h2>
<form action ='/edit_event/<%=@event.id%>' method='post'>
  <input type="text" name="name" placeholder="name"><br><br>
  <input type="text" name="location" placeholder="location"><br><br>
  <input type="datetime" name="starts_at" placeholder="starts at"><br><br>
  <input type="datetime" name="ends_at" placeholder="ends at"><br><br>
  <input type="submit" value="submit">
</form>

